#Training LLM's with CSV (GEMINI PRO)

##with openAI API

In [ ]:
# !pip install -q langchain

In [ ]:
from langchain.llms import OpenAI
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits.csv.base import create_csv_agent
import pandas as pd

In [ ]:
# ! pip install -q langchain_experimental

In [ ]:
import os
import getpass

In [ ]:
# !pip install -q openai
# !pip install -q cohere tiktoken

In [ ]:
os.environ["OPENAI_API_KEY"] = getpass.getpass("Paste your OpenAI key here and hit enter:")

Paste your OpenAI key here and hit enter:··········

In [ ]:
agent=create_csv_agent(llm=OpenAI(temperature=0),
                       path=r"/content/titanic.csv",
                       verbose=True,agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)
print(agent.run("what is the average age of passengers that survived the titanic"))

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows where Survived is equal to 1, then calculate the mean of the Age column
Action: python_repl_ast
Action Input: df[df['Survived'] == 1]['Age'].mean()30.2723622047244130.27236220472441 is the average age of passengers that survived the titanic
Final Answer: 30.27236220472441

> Finished chain.
30.27236220472441

In [ ]:
agent=create_csv_agent(llm=OpenAI(temperature=0),
                       path=r"/content/titanic.csv",
                       verbose=False,agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)
question = "Who was the oldest passenger on the Titanic and what gender and age?"
print(agent.run(question))

Mrs. Tyrell William Cavendish was the oldest passenger on the Titanic, she was 76 years old and female.

In [ ]:
agent=create_csv_agent(llm=OpenAI(temperature=0),
                       path=r"/content/titanic.csv",
                       verbose=True,agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)
question = "are there any missing values in the data? if yes, give the total count"
print(agent.run(question))

> Entering new AgentExecutor chain...
Thought: I should check for missing values in each column
Action: python_repl_ast
Action Input: df.isnull().sum()PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64 I should sum up the total count of missing values
Action: python_repl_ast
Action Input: df.isnull().sum().sum()414 I now know the final answer
Final Answer: There are 414 missing values in the dataframe.

> Finished chain.
There are 414 missing values in the dataframe.

In [ ]:
import os
import getpass

In [ ]:
from langchain.llms import OpenAI
from langchain.agents.agent_types import AgentType
from langchain.agents import create_csv_agent
import pandas as pd

In [ ]:
# pip install -U langchain-cli

In [ ]:
# !langchain app new my-app --package csv-agent

In [ ]:
df = pd.read_csv("/content/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

##With Gemini Pro API and Langchain

In [ ]:
from langchain.document_loaders import CSVLoader

loader = CSVLoader(file_path="/content/titanic.csv")
docs = loader.load()

# Now you can iterate over the documents and access their metadata and content
# for doc in docs:
#     print("Metadata:", doc.metadata)
#     print("Page content:", doc.page_content)

docs

In [ ]:
# !pip install -q google-generativeai

In [ ]:
# pip install -q python-dotenv  # installing python-dotenv used for loading the Gemini API key from .env

In [ ]:
# importing the generativeai module from the google package
import google.generativeai as genai
import os

# importing the load_dotenv and find_dotenv functions from the dotenv module
from dotenv import load_dotenv, find_dotenv

In [ ]:
import getpass

os.environ["GOOGLE_API_KEY"] = getpass.getpass("Paste your Google API key here and hit enter:")

# configure the Gemini API key from the environment variable
genai.configure(api_key=os.environ.get('GOOGLE_API_KEY'))

Paste your Google API key here and hit enter:··········

In [ ]:
!pip install -q google-generativeai langchain-google-genai

In [ ]:
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from langchain_google_genai import ChatGoogleGenerativeAI

##normal conversational bot

In [ ]:
llm = ChatGoogleGenerativeAI(model="gemini-pro")   #API key already configured to the environment

tweet_prompt = PromptTemplate.from_template("You are a content creator. Write me a tweet about {topic}.")

tweet_chain = LLMChain(llm=llm, prompt=tweet_prompt, verbose=True)

if __name__=="__main__":
    topic = "how ai is really cool"
    resp = tweet_chain.run(topic=topic)
    print(resp)

> Entering new LLMChain chain...
Prompt after formatting:
You are a content creator. Write me a tweet about how ai is really cool.

> Finished chain.
⚡️AI is the future!⚡️ From groundbreaking research to mind-blowing creations, AI is revolutionizing our world. It's the key to unlocking endless possibilities and shaping a brighter, more efficient tomorrow. #AIFuture #GameChanger

In [ ]:
agent=create_csv_agent(llm=OpenAI(temperature=0),
                       path=r"/content/titanic.csv",
                       verbose=False,agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)
question = "Who was the oldest passenger on the Titanic and what gender and age?"
print(agent.run(question))

#with CSV now

In [ ]:
llm = ChatGoogleGenerativeAI(model="gemini-pro", temperature=0)

In [ ]:
agent=create_csv_agent(llm=llm,
                       path=r"/content/titanic.csv",
                       verbose=False,
                       agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)

question = "Who was the oldest passenger on the Titanic and what gender and age?"
print(agent.run(question))

The oldest passenger on the Titanic was 76 years old and their gender is not specified in the provided data.

In [ ]:
agent=create_csv_agent(llm=llm,
                       path=r"/content/titanic.csv",
                       verbose=True,
                       agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)

question = "are there any missing values in the data? if yes, give the total count"
print(agent.run(question))

> Entering new AgentExecutor chain...
Thought: I should use `df.isnull().sum()` to count the missing values in each column
Action: python_repl_ast
Action Input: df.isnull().sum()PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64I now know the final answer
Final Answer: yes, there are missing values in the data. The total count is 414

> Finished chain.
yes, there are missing values in the data. The total count is 414

In [ ]:
question = "what is the ticket number of Mr James"
print(agent.run(question))

> Entering new AgentExecutor chain...
Thought: I should filter the dataframe to only include rows where the name is Mr James, then get the ticket number from the first row
Action: python_repl_ast
Action Input: df[df['Name'] == 'Kelly, Mr. James']['Ticket'].iloc[0]330911Final Answer: 330911

> Finished chain.
330911

In [ ]:
question = "how many columns and rows does the data have?"
print(agent.run(question))

> Entering new AgentExecutor chain...
Thought: I can use the `shape` attribute to get the number of rows and columns
Action: python_repl_ast
Action Input: df.shape(418, 12)Final Answer: 418 rows and 12 columns

> Finished chain.
418 rows and 12 columns

In [ ]:
question = "what are the column names?"
try:
    output = agent.run(question)
    # Process the output
except IndexError:
    print("Index out of range: Unable to retrieve the output from the Language Model.")
    # Handle the error gracefully, e.g., by providing a default response or logging the error.

> Entering new AgentExecutor chain...
Thought: I can use the `columns` attribute of the dataframe to get the column names
Action: python_repl_ast
Action Input: df.columnsIndex(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')Index out of range: Unable to retrieve the output from the Language Model.

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_csv_agent

##Approach 2

In [ ]:
llm = ChatGoogleGenerativeAI(model="gemini-pro", temperature=0,  convert_system_message_to_human=True)

agent=create_csv_agent(llm=llm,
                       path=r"/content/titanic.csv",
                       verbose=False,
                       agent_type=AgentType.OPENAI_FUNCTIONS,
)

print(agent.run("what are the column names?"))

The column names are: PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked